@import "styles/util/base";

.container {
  width: 100%;

  form {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;

    input {
      padding: 0.8rem;
      outline: none;
      width: 100%;
      height: 100%;
      font-family: $fontFamilyText;
      font-size: 1rem;
      border: none;
      background-color: transparent;
    }

    .containerIndicator {
      width: 3.4rem;
      background-color: $accentColor;
      height: auto;
      font-family: $fontFamilyTitle;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.draggingContainer {
  opacity: 0.3;
  form {
    border-color: $accentColor !important;
  }
}

.newContainer {
  opacity: 0.6;
}

.editingContainer {
  form {
    border-color: $accentColor !important;
  }
}

.selectedContainer {
  form {
    border-style: solid;
    border-width: 2px;
    border-color: black;

    input {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      font-weight: 600;
    }
  }
}
