@import "styles/util/base";

.container {
  width: 100%;

  form {
    width: 100%;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      padding: 0.8rem;
      background-color: white;
      border-radius: 5px;
      border: none;
      font-family: $fontFamilyText;
      font-size: 1rem;
    }
  }
}

.draggingContainer {
  opacity: 0.3;
  form {
    input {
      border-color: $accentColor;
    }
  }
}

.newContainer {
  opacity: 0.6;
}

.selectedContainer {
  form {
    input {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      font-weight: 600;
      border: solid 2px black;
    }
  }
}
