@import "styles/util/base";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding-top: 2rem;

  .innerContainer {
    width: $centerWidth;
  }
}

.loadingContainer {
  height: 100vh;
  overflow: hidden;
}
