@import "./util/base.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamilyText, $fontFamilyTitle;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyTitle;
}

p,
.p {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyText;
}

button {
  font-family: $fontFamilyText;
  padding: 0.2rem 0.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
